.about-certificates-slider__slide {
  max-width: 350px !important;
}

.about-certificates-slider__img {
  object-fit: contain !important;
  height: auto !important;
}

.about-certificates__desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 25px;
}