.about-administration-slider__slide {
  max-width: 350px !important;
}

.about-administration-slider-txt {
  padding-top: 20px;

  & hr {
    margin: 20px 0;
  }
}

.about-administration-slider-txt__ttl {
  margin-bottom: 10px;
}

.about-administration-slider-txt__ttl,
.about-administration-slider-txt__subttl {
  display: block;
}

.about-administration-slider-txt__ttl {
  font: 600 24px $f_main;
}

.about-administration-slider-txt__subttl {
  min-height: 38px;
  color: $c_gray;
}

.about-administration-slider-txt__tel {
  margin-bottom: 5px;
}

.about-administration-slider-txt__tel,
.about-administration-slider-txt__email {
  display: block;
  font: 400 16px $f_main;
  color: $c_black;
}
