.about-history-slider__slide {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto max-content;
  grid-gap: 30px;
}

.about-history-slider__img {
  object-fit: cover;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  max-height: 1000px;
}

.about-history-subslider {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-gap: 40px;

  & .swiper-notification {
    display: none;
  }
}

.about-history-subslider__slide {
  opacity: 0.5;
  cursor: pointer;

  &:hover,
  &:focus-visible,
  &.swiper-slide-thumb-active {
    opacity: 1;
  }
}

.about-history-subslider__prev,
.about-history-subslider__next {
  align-self: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about-history-subslider__prev {
  transform: rotate(90deg);
  background-image: url("../assets/icons/slider-arrow.svg");
}

.about-history-subslider__next {
  transform: rotate(-90deg);
  background-image: url("../assets/icons/slider-arrow.svg");
}
