.aside {
  padding: 70px 90px;
  background-color: $c_blue-dark;
  z-index: 0;
} 

.aside-nav {
  margin-top: 25px;
}

.aside__return {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 55px;
  min-width: 55px;
  max-height: 55px;
  min-height: 55px;
  margin-bottom: 40px;
  border-radius: 50%;
  border: 1px solid $c_gray;

  &:hover,
  &:focus-visible {
    border-color: $c_white;

    & svg {
      stroke: $c_white;
    } 
  }

  & svg {
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
    stroke: $c_gray;
  }
}

.aside__ttl {
  font: 500 33px $f_main;
  color: $c_white;
}

.aside-nav-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.aside-nav-list__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font: 400 14px $f_main;
  color: $c_gray;

  &:hover,
  &:focus-visible {
    color: $c_white;
    border-color: $c_white;

    &:before {
      border-color: $c_white;
    }
  }

  &:before {
    content: "";
    display: block;
    max-width: 9px;
    min-width: 9px;
    max-height: 9px;
    min-height: 9px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid $c_gray;
  }

  &._current {
    color: $c_white;

    &:before {
      background-color: $c_white;
      border-color: $c_white;
    }
  }
}

@media (max-width: 1600px) {
  .aside {
    padding: 70px;
  }
}

@media (max-width: 1500px) {
  .aside {
    padding: 30px;
  }
}

@media (max-width: 1200px) {
  .aside__ttl {
    font-size: 26px;
  }
}

@media (max-width: 850px) {
  .aside {
    padding: 40px;
    background-color: $c_white;
    border: 1px solid $c_gray-light;
  }

  .aside__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20px;
  }

  .aside__return {
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    min-height: 30px;
    margin-bottom: 0;
    border: none;

    & svg {
      stroke: $c_blue;
    }
  }

  .aside__ttl {    
    color: $c_black;
  }

  .aside-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 0;
  }

  .aside-nav-list__item {
    margin-right: 0;
  }

  .aside-nav-list__link {
    &:hover,
    &:focus-visible {
      color: $c_black;
    }

    &::before {
      display: none;
    }

    &._current {
      color: $c_black;
    }
  }
}
@media (max-width: 500px) {
  .aside {
    padding: 20px;    
  }
}