.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $c_blue-dark;
}

.footer-nav-tabs {
  display: none;
  flex-grow: 1;
  padding: 20px 0;
  padding-left: 80px;
  font: 900 30px $f_main;
  color: $c_white;
}

.footer-nav-tabs__item {
  display: none;
  padding: 20px 0;
  padding-left: 80px;
  font: 900 30px $f_main;
  color: $c_white;

  &._current {
    display: block;
  }
}

.page-home .footer-nav-tabs {
  display: block;

  &._disabled {
    display: none;
  }
}

.footer-info {
  flex-grow: 1;
  padding: 20px 80px;
  color: $c_gray;

  &._disabled {
    display: none;
  }
}

.footer-info__policy {
  &:hover,
  &:focus-visible {
    color: $c_white;
  }
}

.footer-tip {
  display: none;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  max-width: max-content;
  min-width: max-content;
  padding: 20px 100px;
}

.footer-tip__icon {
  width: 100%;
  max-width: 24px;
  min-width: 24px;
  height: 100%;
  max-height: 24px;
  min-height: 24px;
  margin-right: 10px;
}

.footer-tip__desc {
  color: $c_white;
}

.page-home .footer-tip {
  display: flex;
}

.footer-logo-developer{
  padding-right: 13.5%;
  @media (max-width: 680px) {
    padding-right: 20px;
  }
  &__link{
    display: flex;
    align-items: center;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
    @media (max-width: 680px) {
      flex-direction: column;
    }
  }
  &__desc{
    color: #fff;
    margin-right: 4px;
    letter-spacing: -0.5px;
    @media (max-width: 680px) {
      text-align: center;
      margin-bottom: 4px;
    }
  }
}

// @media (max-width: 900px) {
//   .footer-info {
//     padding-left: 40px;
//   }

//   .footer-tip {
//     padding-right: 40px;
//   }
// }

@media (max-width: 800px) {
  .footer-nav-tabs {
    font: 700 22px $f_main;
    padding: 20px;
  }

  .footer-info {
    padding: 20px;
  }

  .footer-tip {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .footer-tip__icon {
    margin-right: 0;
  }

  .footer-tip__desc {
    display: none;
  }
}

// @media (max-width: 800px) {
//   .footer {
//     flex-direction: column-reverse;
//   }
  
//   .footer-nav-tabs {
//     padding: 20px;
//     text-align: center;
//   }

//   .footer-info,
//   .footer-tip {
//     padding: 20px;
//     text-align: center;
//   }

//   .footer-tip {
//     padding-bottom: 0px;
//   }
// }
