.header-menu {
  padding: 20px;
}

.header-menu-upside {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.header-menu-upside-left {
  display: none;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.header-menu-upside-left-list-lang {
  display: none;
  margin-right: 20px;
}

.header-menu-upside-left-list-lang__link {
  &:hover,
  &:focus-visible {
    color: $c_blue;
  }
}

.header-menu-upside-left__search {
  display: none;
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;

  & svg {
    stroke: $c_black;
    width: 100%;
    height: 100%;
  }

  &:hover svg,
  &:focus-visible svg {
    stroke: $c_blue;
  }
}

.header-menu__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  grid-gap: 100px;
  width: 100%;
  height: 100%;
  padding: 100px;
}

.header-menu-list-navs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 100px;
  @media (max-width: 1749px) {
    li.header-menu-list-navs__item:first-child{      
      grid-row-start: 1;
      grid-row-end: 4;
    }
  }  
}
.header-menu-list-navs-sublist__link {
  &._ttl {
    display: block;
    margin-bottom: 30px;
    font: 900 30px $f_main;
  }
}

.header-menu-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px 100px;
}

.header-menu-footer-column__ttl {
  margin-bottom: 15px;
  font-weight: 500;
}

.header-menu-list-navs-sublist__link,
.header-menu-footer-column-list__link {
  &:hover,
  &:focus-visible {
    color: $c_blue;
  }
}

@media (max-width: 1000px) {
  .header-menu-upside-left {
    display: flex;
  }

  .header-menu-upside-left-list-lang {
    display: block;
  }
}

@media (max-width: 950px) {
  .header-menu__content {
    padding: 20px;
  }
}

@media (max-width: 850px) {
  .header-menu { 
    & .header-menu__btn-close {
      justify-self: end;
    }
  }

  .header-menu-upside-left__search {
    display: block;
  }
}

@media (max-width: 800px) {
  .header-menu__content {
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-menu-list-navs,
  .header-menu-footer {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }
}