.page-home {
  @include bg-settings();
  background-image: url('../assets/imgs/home-bg_opt.jpg');
}

.page-home-bg__video {
  position: absolute;
  display: none;
}

.page-home-bg__slogan {
  position: absolute;
  z-index: 10;
  left: 80px;
  bottom: 100px;
  width: 40%;
  font: 900 65px $f_main;
  color: $c_white;
}

.page-home .main {
  background-color: $c_white;
}

.page-home .main section {
  min-height: 100%;

  &:nth-of-type(2n) {
    background-color: $c_gray-light2;
  }
}

.page-home .aside {
  background-color: transparent;
}