.quality-control__img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  min-width: 100%;
  max-height: 450px;
  min-height: 450px;
}

.quality-control-slider__slide {
  max-width: 350px;
  min-width: 350px;
}

.quality-control-slider__img {
  width: 100%;
  height: auto;
}
