.rifle-drilling-slider {
  overflow: visible;
}

.rifle-drilling-slider__slide {
  max-width: 700px;
  min-width: 700px;
  max-height: 400px;
  min-height: 400px;
}

.rifle-drilling-slider__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.rifle-drilling-list-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.rifle-drilling__load-item {
  display: flex;
  align-items: center;
}

.rifle-drilling__load-item::before,
.rifle-drilling__load-item::after {
  content: "";
  background-image: url(../assets/icons/download.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}
.rifle-drilling__load-item::before {
  background-image: url(../assets/icons/download.svg);
}

.rifle-drilling__load-item::after {
  background-image: url(../assets/icons/PDF.svg);
  margin-left: 9px;
  margin-top: -18px;
}

.rifle-drilling__load-item a {
  color: $c_blue;
  line-height: 34px;
  letter-spacing: 0.05px;
}

.rifle-drilling-list-controls__callback,
.rifle-drilling-list-controls__next {
  width: 100%;
  padding: 20px 0;
}

.rifle-drilling-list-controls__next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & svg {
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
    margin-left: 15px;
    transform: rotate(-90deg);
    stroke: $c_blue;
  }
}

@media (max-width: 1400px) {
  .rifle-drilling-slider__slide {
    max-width: 500px;
    min-width: 500px;
    max-height: 300px;
    min-height: 300px;
  }
}

@media (max-width: 1000px) {
  .rifle-drilling-slider__slide {
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    min-height: 200px;
  }

  .rifle-drilling-list-controls {
    grid-gap: 10px;
  }
}

@media (max-width: 600px) {
  .rifle-drilling-list-controls {
    grid-template-columns: 1fr;
  }
}
