.short-products-slider {
  overflow: visible;
}

.short-products-slider__slide {
  max-width: 390px;
  min-width: 390px;
}

.short-products-slider__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 250px;
}

.short-products-slider-txt {
  padding: 30px;
  background-color: $c_white;
}

.short-products-slider-txt__ttl {
  font: 600 18px $f_main;
}
