/* DEFAULTS */

// Reset.
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// Normalizing.
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
iframe,
svg,
button,
label,
input {
  display: block;
}

a,
button,
label,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="checkbox"],
input[type="radio"],
input[type="range"],
input[type="file"],
select {
  cursor: pointer;
}

a {
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  background: none;
  border: none;
}

button:disabled {
  cursor: not-allowed;
}

/* SETTINGS */

// Body settings.
body {
  min-width: $min-content-width;
  font: 400 16px $f_main;
  color: $c_black;
  background-color: $c_white;
}

// Focus.
a:focus,
button:focus,
input:focus,
*:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
*:focus-visible {
  outline: 2px solid $c_orange;
  outline-offset: 2px;
}
