/* FONTS */

// Gilroy.
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Gilroy'),
    url('../assets/fonts/gilroy/gilroy_400.woff') format('woff'),
    url('../assets/fonts/gilroy/gilroy_400.woff2') format('woff2');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Gilroy'),
    url('../assets/fonts/gilroy/gilroy_500.woff') format('woff'),
    url('../assets/fonts/gilroy/gilroy_500.woff2') format('woff2');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Gilroy'),
    url('../assets/fonts/gilroy/gilroy_600.woff') format('woff'),
    url('../assets/fonts/gilroy/gilroy_600.woff2') format('woff2');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Gilroy'),
    url('../assets/fonts/gilroy/gilroy_700.woff') format('woff'),
    url('../assets/fonts/gilroy/gilroy_700.woff2') format('woff2');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local('Gilroy'),
    url('../assets/fonts/gilroy/gilroy_900.woff') format('woff'),
    url('../assets/fonts/gilroy/gilroy_900.woff2') format('woff2');
}

// Roboto.
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Roboto'),
    url('../assets/fonts/roboto/roboto_400.woff') format('woff'),
    url('../assets/fonts/roboto/roboto_400.woff2') format('woff2');
}
