body {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: max-content 1fr minmax(100px, max-content);
  grid-template-areas:
    'header header'
    'aside main'
    'aside footer';
  max-height: 100vh;
  min-height: 100vh;

  &.page-home {
    grid-template-columns: repeat(2, 1fr);
  }
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
  overflow: auto;
}

.main {
  grid-area: main;
  overflow: auto;
}

.footer {
  grid-area: footer;
}

@media (max-width: 1600px) {
  body {
    &.page-home {
      grid-template-columns: 1fr 800px;
    }
  }
}

@media (max-width: 1200px) {
  body {
    &.page-home {
      grid-template-columns: 1fr;
      grid-template-areas:
        'header'
        'main'
        'footer';

      & .aside {
        display: none;
      }
    }
  }
}
