body {
  display: grid;
  grid-template-columns: 37.5% 62.5%;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    'header header'
    'aside wrapper';
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;

  &.page-home {
    grid-template-columns: repeat(2, 1fr);
    // grid-template-areas:
    //   'header header'
    //   'aside wrapper';
  }
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
  overflow: auto;
}

.content-wrapper {
  grid-area: wrapper;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  overflow: auto;
}

@media (max-width: 1600px) {
  body {
    &.page-home {
      grid-template-columns: 1fr 800px;
    }
  }
}

@media (max-width: 1200px) {
  body {
    &.page-home {
      grid-template-columns: 1fr;
      grid-template-areas:
        'header'
        'wrapper';

      & .aside {
        display: none;
      }
    }
  }
}

@media (max-width: 850px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'aside'
      'wrapper';

    grid-template-rows: repeat(2, max-content) 1fr;

    &.page-home {
      grid-template-areas:
        'header'
        'wrapper';
      grid-template-rows: max-content 1fr max-content;

      & .aside {
        display: none;
      }
    }
  }
}

// @media (max-width: 800px) {
//   body {
//     &.page-home {
//       grid-template-rows: max-content 1fr minmax(80px, max-content);
//     }
//   }
// }
