.modal-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 10;
  @include padding-for-mobile;
  @include tablet-md {
    justify-content: center;
  }
  &__preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    // opacity: 0.5;
    z-index: 1;
  }
  &__button-close {
    display: none;
    position: fixed;
    top: 23px;
    right: calc(4.5vw + 10px);
  }
  &-container {
    max-width: 489px;
    width: 100%;
    &.accept {
      max-width: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #2a2b31;
    margin-bottom: 28px;
    &.accept {
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      margin-top: 30px;
      margin-bottom: 17px;
    }
  }
  & .label-for-input {
    position: relative;
  }
  &-placeholder {
    position: absolute;
    bottom: 57px;
    color: #949fa8;
    &--red {
      color: #ee394e;
    }
  }
  &-input {
    border-bottom: 1px solid #e0e7eb;
    display: inline-block;
    width: 100%;
    margin-bottom: 39px;
    line-height: 54px;
  }
  &-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 17px;
    padding-bottom: 2px;
    & input {
      height: 24px;
      width: 24px;
      margin-right: 10px;
    }
    & span {
      max-width: 450px;
      font-size: 14px;
      line-height: 140%;
      color: #2a2b31;
    }
    & a {
      color: #176abd;
    }
  }
  &-submit {
    display: inline-block;
    max-width: 489px;
    width: 100%;
    min-height: 60px;

    /* Primary */

    background: #176abd;

    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    /* White */

    color: #ffffff;
  }
}
