/* VARIABLES */

// Settings.
$min-content-width: 320px;

// Colors.
$c_white: #ffffff;
$c_black: #000000;
$c_orange: #ffae00;
$c_blue: #176ABD;
$c_blue-dark: #001A4B;
$c_gray: #949FA8;
$c_gray-light: #E0E7EB;
$c_gray-light2: #F1F5F8;

// Fonts.
$f_main: "Gilroy"; 
$f_add: "Roboto";
